@import url("https://fonts.googleapis.com/css2?family=Acme&family=Metal+Mania&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
:root {
  --main-font: "Roboto", sans-serif;
  --primary-color: #f5a31a;
  --secondary-color: #79d70f;
  --third-color: #d32626;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f2f2f2;
  font-family: var(--main-font);
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: auto;
}

.secondary-heading {
  margin: 0;
  text-align: center;
  color: var(--third-color);
  font-size: 2.5rem;
}

header {
  overflow-x: hidden;
}
.navbar {
  padding: 0.6rem 0.7rem;
  background: rgba(238, 238, 238, 0.6);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.2s;
  overflow-x: hidden;
}
.logo {
  margin-left: 1rem;
  color: #eee;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}
.logo:hover {
  color: #fff;
}

.logo img {
  opacity: 1 !important;
}

.navbar .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}
.navbar a {
  text-decoration: none;
  color: #000;
  opacity: 1;
  z-index: 101;
}
.navbar a:hover {
  color: var(--third-color);
}

.contact-icon {
  transition: 0.2s;
}
.nav-contact:hover .contact-icon {
  animation: infinite contact 0.5s;
  animation-timing-function: linear;
}
.hidden-on-pc {
  visibility: hidden;
  margin-right: 1rem;
  font-size: 1.3rem;
}

#menu {
  display: block;
  visibility: hidden;
  background: #333;
  color: #fff;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 5rem;
  z-index: 50;
  width: 80%;
  height: 100vh;
  /* transition: visibility 0s, opacity 0.5s linear; */
}
#menu ul {
  list-style-type: none;
  margin: 0;
  text-align: left;
  padding: 0;
}
#menu li {
  padding: 1rem;
  padding-left: 2.5rem;
}
#menu a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
#menu i {
  margin-right: 1rem;
}
#toggleBar {
  margin-right: 2rem;
}

.banner {
  height: 85vh;
  margin: 0 auto;
  text-align: center;
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.banner .color-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  opacity: 0.7;
  filter: contrast(90%);
}
.main-svg svg {
  padding: 0;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
}

.banner-contents {
  margin-top: 3rem;
  z-index: 5;
}

.banner-contents h1 {
  font-family: "Acme", sans-serif;
  font-size: 4rem;
  color: #fff;
  letter-spacing: 0.3rem;
  animation: head-text-style 1.5s;
}

.banner-contents h3 {
  margin-top: -20px;
}

.cta {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}
.cta a {
  text-decoration: none;
}

.btn {
  margin: 0.5rem;
  padding: 0.7rem;
  width: 12rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
  z-index: 5;
}
.btn:hover {
  filter: contrast(120%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.fill-btn {
  background: var(--third-color);
  border: 2px solid var(--third-color);
}
.hollow-btn {
  border: 2px solid var(--third-color);
}
.hollow-btn:hover {
  background: #eee;
  border: 2px solid #eee;
  color: var(--third-color);
}

.what-is-this {
  padding-bottom: 3rem;
  overflow-x: hidden;
}

.what-is-this .details {
  display: flex;
  align-items: center;
}

.what-is-this .details .text {
  margin: 0 7rem 0 3rem;
}

.what-is-this .details .text p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
}
.what-is-this .details .text h4 {
  margin: 0.5rem 0;
}

.what-is-this .details .image {
  display: block;
  height: 15rem;
  width: 25rem;
  background: url("../img/jhalmuri.jpg") no-repeat;
  background-size: cover;
  border-radius: 33% 67% 33% 67% / 37% 34% 66% 63%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.about {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background: #fafafa;
  overflow-x: hidden;
}

.about .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .details .text {
  margin: 0;
  padding-left: 7rem;
}

.about .details .text p {
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
}
.about .details .text h4 {
  margin: 0.5rem 0;
}

.about .details .image {
  display: block;
  height: 15rem;
  width: 25rem;
  background: url("../img/packet.jpg") no-repeat;
  background-size: cover;
  border-radius: 33% 67% 33% 67% / 37% 34% 75% 63%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.why-us {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background: #e4e4e4;
  position: relative;
}
.why-us .container {
  z-index: 5;
}
.why-us .features {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.point {
  text-align: center;
  z-index: 6;
}

.point h1 {
  display: inline-block;
  font-size: 2.5rem;
  padding: 1rem;
  margin: 0;
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  clip-path: circle();
  color: #000;
}
.point h4 {
  color: var(--third-color);
}

.f-svg svg {
  padding: 0;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  z-index: -1;
}

.top-margin {
  margin-top: 5rem;
}
.products {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}
.products .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1.5rem;
  padding-bottom: 2rem;
  background: #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px 0 10px 0;
  text-align: center;
  z-index: 5;
  transition: 0.2s;
}
.products .card:hover {
  transform: scale(1.1);
}
.products .card .name {
  margin: 0;
  padding: 0.5rem;
}
.products .card h4:first-child {
  color: var(--third-color);
  font-size: 1.2rem;
}
.products .card p::before {
  content: "✔ ";
}
.products .card span {
  color: var(--third-color);
  font-size: 4rem;
}
.products .card span sup {
  font-size: 1.5rem;
  color: #333;
}
.card-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: var(--third-color);
  padding: 0.5rem 2rem;
  margin-top: 0.5rem;
  width: 30%;
  border: 2px solid var(--third-color);
  border-radius: 5px;
}
.card-btn:hover {
  filter: contrast(120%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-svg svg {
  padding: 0;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 0;
}
.p-svg-btm svg {
  padding: 0;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 4;
  overflow: hidden;
}

.cities {
  background: #fafafa;
  padding: 3rem;
}

.city {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Metal Mania", cursive;
  flex-wrap: wrap;
  text-transform: uppercase;
  color: #333;
}

.invite {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}
.contact-btn {
  width: 8rem !important;
}

.reviews {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.reviews .container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.reviews .card {
  padding: 1rem;
  width: 25%;
}
.reviews .card:hover {
  transform: scale(1.1);
}
.reviews .card img {
  height: 120px;
  clip-path: circle();
}
.reviews .card .name {
  font-weight: bold;
  font-style: italic;
}
.reviews .card .name::after {
  content: " ~ ";
}
.contact {
  padding: 3rem;
  background: #fafafa;
}

.contact .container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact iframe {
  height: 250px;
  width: 400px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: rotate(-5deg);
  transition: 0.5s;
}
.contact iframe:hover {
  transform: scale(1.1) rotate(0);
}
.contact-link {
  color: #000;
  text-decoration: none;
}

.social-media {
  padding: 3rem;
}
.social-media .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.social-media .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}
.social-media .icons:hover {
  transition: linear 0.1s !important;
  transition-delay: 0s !important;
  transform: scale(1.1);
  cursor: pointer;
}
.social-media .icons img {
  height: 70px;
  border-radius: 48% 52% 51% 49% / 28% 30% 70% 72%;
}
.social-media .icons .name {
  text-align: center;
}
footer {
  padding: 2rem;
  position: relative;
  background: #333;
  clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
footer .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}
footer .content {
  text-align: center;
}

#developer-name {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-style: italic;
  margin-left: 0.3rem;
}

@media only screen and (max-width: 750px) {
  body,
  html {
    overflow-x: hidden;
  }
  .navbar {
    overflow-x: hidden;
  }
  .container {
    width: 97%;
  }
  .secondary-heading {
    margin: 0.5rem;
    text-align: center;
    color: var(--third-color);
    font-size: 2rem;
  }
  .navbar {
    overflow: hidden;
  }
  .hidden-on-mobile {
    visibility: hidden;
  }
  .hidden-on-pc {
    visibility: visible;
  }
  .banner {
    height: 50vh;
  }
  .banner-contents {
    margin-top: 5rem;
  }
  .banner-contents h1 {
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: 0.1rem;
    animation-name: head-text-style-m;
  }
  .banner-contents h3 {
    font-size: 1rem;
    margin-top: -10px;
  }
  .cta {
    flex-direction: column;
    margin: 0.5rem;
  }
  .btn {
    margin: 0.5rem auto;
    padding: 0.4rem;
    width: 8rem;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
  }

  .what-is-this .details {
    flex-direction: column-reverse;
  }
  .what-is-this .details .text {
    width: 90%;
    margin: auto;
  }
  .what-is-this .details .image {
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 12rem;
    width: 15rem;
  }

  .about h1 {
    margin: 0.5rem;
    text-align: center;
    color: var(--third-color);
    font-size: 2rem;
  }

  .about .details {
    flex-direction: column;
  }
  .about .details .text {
    padding: 0;
    width: 90%;
    margin: auto;
  }
  .about .details .image {
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 12rem;
    width: 15rem;
  }

  .why-us .features {
    flex-wrap: wrap;
  }
  .why-us .point {
    margin: 0.5rem;
  }

  .products .container {
    flex-direction: column;
  }

  .products .card {
    margin: 0.5rem 0;
    padding-bottom: 0.5rem;
    font-size: 90%;
  }
  .products .card:first-child {
    margin-bottom: 2rem;
  }
  .cities {
    padding: 0.5rem;
  }
  .city h2 {
    margin: 0.2rem;
  }
  .products .card img {
    height: 170px !important;
  }

  .reviews .container {
    flex-direction: column;
    justify-content: center;
  }
  .reviews .card {
    width: 80%;
  }
  .contact .container {
    flex-direction: column-reverse;
  }
  .contact iframe {
    margin: 1rem;
    height: 170px;
    width: 290px;
    padding: 0.5rem;
    background: #fff;
  }
  .social-media {
    padding: 0.5rem;
  }
  .social-media .icons {
    margin: 0.5rem;
    width: 30%;
  }
  .social-media .icons img {
    height: 50px;
  }
}

@keyframes head-text-style {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  60% {
    letter-spacing: 1rem;
  }
  100% {
    opacity: 1;
    letter-spacing: 0.3rem;
  }
}

@keyframes head-text-style-m {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  60% {
    letter-spacing: 0.2rem;
  }
  100% {
    opacity: 1;
    letter-spacing: 0.1rem;
  }
}

@keyframes contact {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
